body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f3f6;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.page-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 80px 0 100px; 
}

.container {
  width: 100%;
  max-width: 1100px;
  background-color: white;
  padding: 30px 20px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: center;
  min-height: 1000px;
  overflow: hidden;
  position: relative; 
}



.inner-content {
  width: 100%;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  height: 100%;
}


.logo {
  display: block;
  margin: 0 auto 15px;
  width: 450px;
}

.navbar {
  background-color: #f1f1f1;
  width: 100%;
  max-width: 900px; 
  margin: 0 auto 20px auto; 
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 20px;
  border-radius: 4px;
}




.nav-links {
  display: flex;
  flex-direction: row;
  height: 100%;
  flex-shrink: 0; 
}


.nav-links a {
  padding: 0 30px;
  text-decoration: none;
  color: #333;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nav-links a.active {
  background-color: #167bd3;
  color: white;
}



.nav-right {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-bar {
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 6px;
  width: 200px;
}

.user-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  object-fit: cover;
}

.title {
  text-align: center;
  font-weight: 300;
  font-size: 40px;
  color: #5e5858;
  margin-bottom: 30px;
  position: relative;
  padding-bottom: 0px;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  height: 1px;
  width: 200px;
  background-color: #ccc;
}

.rides-section {
  width: 100%;
  text-align: right;
  margin-bottom: 30px;
}
.rides-table a {
  color: #337ab7; 
  text-decoration: none;
}

.rides-table a:hover {
  text-decoration: underline;
}
.new-ride-btn {
  padding: 16px 70px;
  font-size: 18px;
  background-color: #337ab7;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 20px;
}

.rides-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 18px;
}

.rides-table th,
.rides-table td {
  border: 1px solid #ccc;
  padding: 14px;
  text-align: center;
}

.rides-table thead th {
  background-color: #e0e0e0;
  font-weight: bold;
}

footer {
  position: absolute;
  bottom: 0px; 
  left: 0;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}


.footer-links {
  margin-bottom: 10px;
}

.footer-links a {
  margin: 0 8px;
  color: #333;
  text-decoration: none;
  position: relative;
}

.footer-links a::after {
  content: "|";
  margin-left: 8px;
  color: #999;
}

.footer-links a:last-child::after {
  content: "";
}
